.login-root {
  height: 100vh;
  padding: 32px;
  background: #1565C0;

  .hidden {
    display: none;
  }
}

.login-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: blur(10px);
  background: url('https://cdn.pixabay.com/photo/2016/05/26/22/49/rainbow-1418706__480.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.login-form {
  margin-top: 600px;
}

.login-picker {
  position: fixed;
  bottom: 80px;
  width: calc(100% - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 320px;
  text-align: center;
  line-height: 2.5555;
  font-size: 36px;
  color: #fff;
}

.login-picker-content {
  margin-left: 16px;
}