.order-list {
  min-height: 100vh;
}

.order-confirm {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__detail {
    flex: 1;
    margin-bottom: 180px;
  }
  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0.512rem 0.512rem;
    font-size: 32px;
    color: #333;

    &::after {
      content: "";
      position: absolute;
      transform-origin: center;
      box-sizing: border-box;
      pointer-events: none;
      top: auto;
      left: 0.512rem;
      right: 0;
      bottom: 0;
      transform: scaleY(0.5);
      border-bottom: 1PX solid #d6e4ef;
    }
  }

  .at-input {
    margin-left: 0.512rem;
  }

  .at-card {
    margin-top: 32px;
  }

  .at-form::after {
    display: none;
  }

  .at-input::last-child::after {
    display: none;
  }

  .at-list::after {
    display: none;
  }

  .at-list__item::last-child::after {
    display: none;
  }
}

.order-list {
  &__item {
    box-sizing: border-box;
    display: flex;
    padding: 32px;
    width: 100%;
    border-bottom: 1px solid #eee;
  }
}
.order-item {
  &__img {
    width: 120px;
    height: 120px;
    margin-right: 32px;
    background: grey;
    border-radius: 5px;
    border-radius: 8px;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__status {
    align-self: flex-end;
  }
}

.order-detail {
  &__goods {
    display: flex;
    align-items: stretch;
    padding: 32px;
    margin-bottom: 32px;
  }
  &__goods-image {
    width: 180px;
    height: 180px;
    background: grey;
    margin-right: 32px;
    border-radius: 8px;
  }
  &__goods-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: stretch;
  }
  &__goods-status {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__content {
    margin-bottom: 32px;
  }
  .at-list::after {
    display: none;
  }
  .at-list__item.no-bottom::after {
    display: none;
  }
}
