.market-cover {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 16px 32px;

  &__title {
    padding: 32px;
    font-size: 40px;
  }
  &__item {
    box-sizing: border-box;
    height: 420px;
    padding: 32px;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
  }
  &__content-bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__content-name {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 8px;
  }
}

.market-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 16px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 32px;
    font-size: 32px 0;
  }
  &__item {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    height: 420px;
    padding: 16px;
  }
  &__content {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 16px;
    overflow: hidden;
    background: grey;
  }
  &__content-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &__content-name {
    display: block;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 32px 16px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}


.market-detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__content {
    flex: 1;
  }
  &__bottom {
    .at-button {
      width: 100%;
      border-radius: 0;
    }
  }
}

.market-detail-cover {
  height: 600px;
  background: #d3d3d3;
  &__item {
    height: 600px;
    background: #d3d3d3;
  }
  &__img {
    height: 100%;
    width: 100%;
    background: gray;
  }
}

.share-list {
  &__item {
    box-sizing: border-box;
    display: flex;
    padding: 32px;
    width: 100%;
    bshare-bottom: 1px solid #eee;
  }
}
.share-item {
  &__img {
    width: 120px;
    height: 120px;
    margin-right: 32px;
    background: grey;
    bshare-radius: 5px;
    bshare-radius: 8px;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__status {
    align-self: flex-end;
  }
}
