.user {
  &__header {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    background: #90CAF9;
    padding: 64px 32px 80px 32px;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 32px;
    color: #333333;
  }
}