.identify-confirm-btn {
  margin: 0 32px;
}

.identify-agree {
  margin-top: 300px;
  margin-bottom: 32px;
  border: none;
  text-align: center;
}

.identify-agree::after {
  display: none;
}

.identify-agree::before{
  display: none;
}