.share {
    &__form::after {
        display: none;
    }
    &__img {
        margin: 32px 0;
        width: 480px;
    }
    &__btn {
        margin: 80px 32px 0 32px;
    }
}

.share-list-item {
    display: flex;
    padding: 32px;
    color: #333;
    &__lable {
        margin-right: 16px;
        width: 172px;
        font-size: 32px;
        line-height: 1.5;
        vertical-align: middle;
        text-align: left;
    }
    &__content {
        flex: 1;
    }
}