@import "~taro-ui/dist/style/index.scss";

.app-page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 32px;
}

.app-bottom-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 0;
}

.app-bottom-btn-group {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  .app-bottom-btn {
    position: relative;
    bottom: 0;
    width: 50vw;
    border-radius: 0;
  }
}

.app-content {
  margin-bottom: 120px;
}

.at-list__item-extra {
  max-width: 80%;
}