.admin-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.admin-content {
  flex: 1;
  overflow: scroll;
}

.admin-dashboard-info {
  width: 100vw;
  display: flex;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 18px;
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }
  &__item:first-child {
    border-left: none;
  }
  &__num {
    margin-bottom: 8px;
  }
}
